* {
	margin: 0;
	padding: 0;
}
.sidebar {
	background-color: #f1f1f1! important;
	width: 4%;
	height: 72vh;
	margin: 0px !important;
	position: relative;
	z-index: 1;
}

.li-items {
	display: grid;
	padding-top: 10px;
    padding-bottom: 30px;
	position: relative;
	left: 22px;
}

.header-top {
	position: absolute;
	top: 0px;
	background-color: #4c4848;
	width: 95%;
	display: flex;
	left: 61px;
}

.div-img {
	position: relative;
    left: 30px;
    padding: 24px;
}

.div-table {
	position: absolute;
	top: 270px;
	width: 94%;
}

.table {
	width: 100%;
	border-collapse: collapse;
	position: relative;
	left: 65px;
}

td {
    text-align: left;
    padding: 12px;
}

tr:nth-child(even) {
    background-color: #f1f1f1! important;
}

.td4 {
	border: 1px solid black;
    padding: 5px;
}

a {
	text-decoration: none;
}

.nav-li-a {
	color: black;
}

.div-song-details-top {
	position: relative;
    color: white;
    left: 61px;
    top: 28px;
}

.p1 {
	position: relative;
	top: 10px;;
}

.span-top {
	width: 100%;
	position: relative;
	top: 12px;
}

.span-bottom {
	padding-right: 10px;
}

.div-song-details-bottom {
	position: absolute;
	bottom: 40px;
	left: 324px;
	color: white;
}

.footer {
	background-color: #63789f;
	padding: 13px;
	display: flex;
}

.div-song-details-footer {
	color: white;
	padding-left: 5px;
	padding-top: 15px;
}

.div-song-controls {
	position: absolute;
	right: 28px;
	padding-top: 66px;
	color: white;
}

.span-footer-icons {
	padding-left: 100px;
}

@media only screen and (max-width: 600px) {
	.header-top {
	  width: 136%;
	}

	.div-img {
		position: relative;
    	left: 18px;
    	padding: 16px;
	}

	.div-song-details-top {
		left: 15px;
	}

	.div-song-details-bottom {
		left: 264px;
	}

	td {
		padding: 4px;
	}

	.div-table {
		width: 140%;
	}

	.td4 {
		padding: 0px;
		font-size: 11px;
	}

	.footer {
		width: 146%;
	}

	.div-song-controls {
		display: flex;
		left: 209px;
	}

	.span-footer-icons {
		padding-left: 50px;
	}
}
